@font-face {
  font-family: "Geometria";
  src: url("./fonts/Geometria/Geometria-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("./fonts/Geometria/Geometria-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";
  src: url("./fonts/Geometria/Geometria-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";

  src: url("./fonts/Geometria/Geometria-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";

  src: url("./fonts/Geometria/Geometria-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";

  src: url("./fonts/Geometria/Geometria-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("./fonts/Geometria/Geometria-BoldItalic.woff") format("woff");

  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";
  src: url("./fonts/Geometria/Geometria.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("./fonts/Geometria/Geometria-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("./fonts/Geometria/Geometria-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";

  src: url("./fonts/Geometria/Geometria-Light.woff") format("woff");

  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("./fonts/Geometria/Geometria-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Geometria", "Inter", "Arial", sans-serif;
  color: #c2c8ca;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
